html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

ul {
  list-style: none;
}

.query-field {
  margin-left: 250px;
}

.container {
  display: flex;
  align-items: center;
}

.info-container {
  margin-right: 30px;
}

.languages {
  margin: 0;
}

.name {
  font-size: 32px;
  margin-left: 200px;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.info {
  font-weight: normal;
}

.flag {
  max-width: 400px;
}

.pnotify {
  display: none;
}

.pnotify-text {
  max-height: 100px;
  overflow-y: none;
}

.pnotify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pnotify-sticker {
  display: none;
}

.pnotify-closer {
  position: absolute;
  top: 10px;
  right: 10px;
}
